<md-sidenav-container class="example-sidenav-fab-container">
  <md-sidenav #sidenav mode="side" opened="true">
    <button md-mini-fab class="example-fab" (click)="sidenav.toggle()">
      <md-icon>clear</md-icon>
    </button>
    <div class="example-scrolling-content nav-section">
      <nav class='scrolling-nav'>
        <a><md-icon aria-hidden="true">home</md-icon><span>首页</span></a>
      </nav>
    </div>
  </md-sidenav>
  <button md-mini-fab class="example-fab all-toggle-icon" (click)="sidenav.toggle()">
    <md-icon aria-hidden="true">compare_arrows</md-icon>
  </button>
  <div class="example-scrolling-content all-section">
    <div class='all-section-header'>
      <md-toolbar color="primary">
        <span>这里是标题</span>
        <span class="example-spacer"></span>
        <md-icon class="example-icon">favorite</md-icon>
        <md-icon class="example-icon">delete</md-icon>
      </md-toolbar>
    </div>
    <div class='all-section-content'>
      <md-card class="example-card">
        <md-card-header>
          <div md-card-avatar class="example-header-image"></div>
          <md-card-title>Shiba Inu</md-card-title>
          <md-card-subtitle>Dog Breed</md-card-subtitle>
        </md-card-header>
        <img md-card-image src="assets/img/img.jpg" alt="Photo of a Shiba Inu">
        <md-card-content>
          <p>
            The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
            A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
            bred for hunting.
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>
    <router-outlet></router-outlet>
  </div>
</md-sidenav-container>
