<p>This json-p page</p>
<ul class='book-ul'>
    <li *ngFor='let book of bookList; index as i, odd as isOdd' (click)='onClickBook(book,bookList)'>
        <a [class.selected]='book.selected'>{{book.name}}</a>
        <p>{{book.price}}</p>
        <p *ngIf='i==0'>is first book.</p>
        <p *ngIf='isOdd'>奇数</p>
    </li>
</ul>
<hr>
<h3>include angular flex</h3>
<div fxLayout="column">
  <div class="header" fxLayout="row" fxLayoutAlign="space-between center">
    <h3>
      {{title}}
    </h3>
  </div>
  <div fxLayout="row">
    <div class="left" fxFlex="20"> LEFT: 20% wide </div>
    <div class="right" fxFlex> RIGHT: 80% wide </div>
  </div>
</div>
<hr>
<h3>de3: test demo</h3>
<svg width="900" height="500"></svg>
<hr>
<h3>security: Binding innerHTML</h3>
<p>Bound value:</p>
<p class="e2e-inner-html-interpolated">{{htmlSnippet}}</p>
<p>Result of binding to innerHTML:</p>
<p class="e2e-inner-html-bound" [innerHTML]="htmlSnippet"></p>
<hr>
<h3>material design: Basic Buttons</h3>
<div class="button-row">
  <button md-button (click)='getAmaZonData()'>get amazon data</button>
  <button md-button color="primary">Primary</button>
  <button md-button color="accent">Accent</button>
  <button md-button color="warn">Warn</button>
  <button md-button disabled>Disabled</button>
  <a md-button routerLink=".">Link</a>
</div>
<hr>
<h3>https get : test demo</h3>
<section>success:-->{{jsonPObj.jsonData | json}}</section>
<section *ngIf='jsonPObj.hasHttpError'>error</section>
<hr>
<h3>子组件</h3>
<app-code-tree [code]='jsonPObj.jsonData' *ngIf='jsonPObj.jsonData'></app-code-tree>

